*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: rgb(224, 220, 214);
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 8em auto 8em;
    grid-template-areas: 
    "header header header"
    ". main ."
    "footer footer footer";
}

header {
    grid-area: header;
    color: rgb(112, 89, 46);
    margin-bottom: 1em;
}

form {
    text-align: center;
    max-width: 800px;
}

.header-footer {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: beige;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

main {
    grid-area: main;
    padding-top: 2em;
    background-color: lightblue;
    height: auto;
    box-shadow: 0px 0px 25px black;
    max-width: 700px;
    width: 100vw;
    justify-self: center;
}

#personal-info-box {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: 
    "h2 h2"
    "labelfn inputfn"
    "labelln inputln"
    "labele inpute";
    width: 80%;
    height: auto;
    margin: auto;
    margin-bottom: 1em;
    padding: 1em;
    background-color: beige;
    justify-items: left;
    align-items: center;
    border: 5px solid darkgray;
    box-shadow: 0px 0px 5px black;
}

#personal-h2 {
    color: rgb(112, 89, 46);
    grid-area: h2;
    justify-self: center;
    margin-bottom: 1em;
}

label {
    justify-self: right;
    margin-right: .5em;
    margin-bottom: 1em;
}

input {
    margin-bottom: 1em;
}

#name-label {
    grid-area: labelfn;
}

#name {
    grid-area: inputfn;
    max-width: 13em;
    width: 100%;
}

#last-label {
    grid-area: labelln;
}

#last-name {
    grid-area: inputln;
    max-width: 13em;
    width: 100%;
}

#email-label {
    grid-area: labele;
}

#email {
    grid-area: inpute;
    max-width: 13em;
    width: 100%;
}

#questionare-info-box {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: 
    "h2 h2"
    "labeln inputn"
    "labels inputs"
    "labelr inputr"
    "labelc inputc"
    "labelt inputt";
    width: 80%;
    height: auto;
    margin: auto;
    margin-bottom: 1em;
    padding: 1em;
    background-color: beige;
    justify-items: left;
    align-items: center;
    border: 5px solid darkgray;
    box-shadow: 0px 0px 5px black;
}

#number-label {
    grid-area: labeln;
}

#number {
    grid-area: inputn;
}

#select-label {
    grid-area: labels;
}

#dropdown {
    grid-area: inputs;
    margin-bottom: 1em;
}

#radio-label {
    grid-area: labelr;
}

#radio {
    display: flex;
    grid-area: inputr;
    list-style-type: none;
    padding:0;
    margin-top: -5px;
}

#checkbox-label {
    grid-area: labelc;
    align-self: flex-start;
}

#check {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    grid-area: inputc;
    padding: 0;
    text-align: left;
}

#textarea-label {
    grid-area: labelt;
    align-self: flex-start;
}

#extra-comments {
    grid-area: inputt;
    resize: none;
    overflow-y: scroll;
    max-width: 19em;
    width: 100%;
    height: 6em;
}

#submit {
    width:200px;
    height: 50px;
    background-color: rgb(255, 255, 121);
    font-size: 2em;
    margin-bottom: 1em;
    margin-top: 1em;
    border-radius: 15px;
    box-shadow: 0px 0px 5px black;
}

#submit:hover {
    background-color: rgb(156, 156, 2);
}

footer {
    grid-area: footer;
    color: rgb(112, 89, 46);
    margin-top: 1em;
    background-color: gray;
}

.div-footer {
    width: 100%;
    background-color: lightgray;

}

span {
    font-size: .70em;
}

@media(max-width: 500px) {
    #extra-comments {
        grid-area: inputt;
        resize: none;
        overflow-y: scroll;
        width: 10em;
        height: 6em;
    }
}